################################################################################
#                    | buff    |  buff  | main/priv|low_addr|addr| buff        #
#  buff_name         | size    | enable |   buff   |  buff  |flag| addr        #
################################################################################
priv_area_buff         auto       1         0          1      1   0x84000000   #
ae_buff                0x10000    0         0          1      0   auto         #
dd_support_buff        0x20000    1         0          1      0   0x855B2C00   #
decv_vbv_buff          0x600000   1         0          1      0   0x855D2C00   #
decv_pip_vbv_buff      0x600000   0         0          1      0   auto         #
decv_hw_buff           0x1bf800   1         0          1      0   0x85BD2C00   #
decv_pip_hw_buff       0x1bf800   0         0          1      0   auto         #
vcap_buff              0x26d800   1         0          1      0   0x85D92400   #
mcapi_buff             0x400      1         0          1      1   0x85FFFC00   #
#shared_mem_buff        0x400      1         0          1      1   0x85FFFC00   #share with mcapi_buff
# 20M buff protected to avoid priv memory and uboot memory conflict -- begin
dmx_mem_buff           0x600000   1         1          1      1   0x86000000   #
tsg_mem_buff           0x40000    1         1          1      0   0x86600000   #
ape_mem_buff           0xa00000   1         1          1      0   0x86640000   #
ape_pip_mem_buff       0xa00000   0         1          1      0   auto         #
ge_cmd_buff            0x3c000    1         1          1      0   0x87040000   #
vdec_still_buff        0x300000   1         1          1      0   0x8707C000   #
# 20M buff protected to avoid priv memory and uboot memory conflict -- end
deca_mem_buff          0x20000    0         1          1      0   auto         #
vcap_buffer            0x26d800   0         1          0      0   0x85D92400   #
decv_pip_hw_buff       0x1bf800   0         1          1      0   auto         #
decv_hw_buff           0x1bf800   0         1          1      0   0x85BD2C00   #
decv_pip_fb_buff       0x2634000  0         1          1      0   auto         #
decv_fb_buff           0x2634000  1         1          1      0   0x8737C000   #
fb0_cmap_buff          0x400      1         1          1      0   0x899B0000   #
fb2_cmap_buff          0x400      1         1          1      0   0x899B0400   #
fb0_buff               0x2010000  1         1          0      0   0x899B0800   #
fb2_buff               0x1fb000   1         1          0      0   0x8B9C0800   #
boot_de_param_buff     0x40000    1         1          1      0   0x8BBBB800   #
nim_dvbt2_buff         0x800000   0         1          0      0   auto         #
nim_j83b_buff          0x100000   0         1          0      0   auto         #
dts_buff               0x10000    1         1          0      0   0x8BBFB800   #
init_ramfs_buff        0x2000000  0         1          0      0   auto         #
################################################################################
# DEFINITIONS:
# main_priv_buff flag:
#       1: allocated from main memory
#       0: allocated from priv memory
#
# low_addr_buff flag:
#       1: allocated memory address should be less than 0x8c000000
#       0: other values
#
# auto flag:
#       auto: allocate the size or memory address automatically
#       other values: specify a fixed size or a fixed memory address
#
# priv_area_buff:
#       size = 32M  - (other memory buff allocated in priv memory)
#       (32M is the memory allocated from 0x8400_0000 to 0x8600_0000)
#
# addr_flag:
#       1: no need to allocate memory or share with other allocated memory
#       0: need to allocate memory
#
# NOTE:
#   We shoule keep 20M buff memory above 0x8600_0000 address free at boot time
#   to avoid priv memory and uboot memory conflict
################################################################################
