
/ {
	spi@1802E000 {
		status = "okay";

		/* NOR flash */
		spi_flash@0 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "m25p80";
			reg = <0>;
			spi-max-frequency = <25000000>;
			spi-cpol;
			spi-cpha;
			spi-rx-bus-width = <4>;


			bootloader {
				reg = <0x00000000 0x200000>;
				loadaddr = <0xFFFFFFFF>;
			};
			

		};

